---
layout: layout.njk
---

<article>
  <h1>{{ title }}</h1>

  {% set displayAuthor = author or metadata.author %} {% if displayAuthor or
  date %}
  <p>
    <em>
      {% if displayAuthor %}By {{ displayAuthor }}{% endif %}{% if date %} on {{
      date | dateFormat }}{% endif %}
    </em>
  </p>
  {% endif %} {% if tags %}
  <p>
    Tags: {% for tag in tags %}
    <span>{{ tag }}</span>{% if not loop.last %}, {% endif %} {% endfor %}
  </p>
  {% endif %} {{ content | safe }}

  <footer>
    <a href="javascript:history.back()">Back</a>
  </footer>
</article>
